<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:label="@string/app_name"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- 태스크 빠른 추가 다이얼로그 -->
        <activity
            android:name=".QuickAddTaskActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 캘린더 연도 이동 다이얼로그 -->
        <activity
            android:name=".YearPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

        <!-- 부팅 완료 시 위젯 데이터 갱신 -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 홈화면 위젯 -->
        <receiver
            android:name=".HomeWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="com.dhwjdgh.prv_dashboard.COMPLETE_TASK" />
                <action android:name="com.dhwjdgh.prv_dashboard.DELETE_TASK" />
                <action android:name="com.dhwjdgh.prv_dashboard.SWITCH_WIDGET_TAB" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_PREV_MONTH" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_NEXT_MONTH" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_SELECT_DATE" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_BACK" />
                <action android:name="com.dhwjdgh.prv_dashboard.TASK_ITEM" />
                <action android:name="com.dhwjdgh.prv_dashboard.REFRESH_TASKS" />
                <action android:name="com.dhwjdgh.prv_dashboard.REFRESH_CALENDAR" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_widget_info" />
        </receiver>

        <activity
            android:name=".WidgetConfigureActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true" />

        <service
            android:name=".TaskWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <service
            android:name=".TaskWidgetServiceCover"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <service
            android:name=".CalendarSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service
            android:name=".TasksSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <!-- WorkManager DB 초기화 실패로 인한 크래시 방지: auto-init 비활성화 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup.InitializationProvider"
                tools:node="remove" />
        </provider>

        <!-- home_widget 가 끌고 온 androidx.glance 의 트램폴린 액티비티 제거.
             본 앱은 Glance 위젯을 전혀 쓰지 않는데(고전 RemoteViews 사용), 외부 위젯
             호스트가 이 트램폴린을 target intent 없이 실행하면
             "List adapter activity trampoline invoked without specifying target intent"
             으로 앱이 강제 종료됐다(Crashlytics 1.0.14+20). 선언을 제거하면 우리 앱에서는
             실행 자체가 불가능해져 해당 크래시가 사라진다. -->
        <activity
            android:name="androidx.glance.appwidget.action.ActionTrampolineActivity"
            tools:node="remove" />
        <activity
            android:name="androidx.glance.appwidget.action.InvisibleActionTrampolineActivity"
            tools:node="remove" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- 위젯의 Gmail 바로가기 버튼이 외부 Gmail 앱을 실행하기 위한 패키지 가시성 -->
        <package android:name="com.google.android.gm"/>
    </queries>
</manifest>
