<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:label="google_dashboard"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- 태스크 빠른 추가 다이얼로그 -->
        <activity
            android:name=".QuickAddTaskActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 홈화면 위젯 -->
        <receiver
            android:name=".HomeWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.dhwjdgh.prv_dashboard.COMPLETE_TASK" />
                <action android:name="com.dhwjdgh.prv_dashboard.DELETE_TASK" />
                <action android:name="com.dhwjdgh.prv_dashboard.SWITCH_WIDGET_TAB" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_PREV_MONTH" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_NEXT_MONTH" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_SELECT_DATE" />
                <action android:name="com.dhwjdgh.prv_dashboard.CAL_BACK" />
                <action android:name="com.dhwjdgh.prv_dashboard.GMAIL_ITEM" />
                <action android:name="com.dhwjdgh.prv_dashboard.REFRESH_GMAIL" />
                <action android:name="com.dhwjdgh.prv_dashboard.REFRESH_TASKS" />
                <action android:name="com.dhwjdgh.prv_dashboard.REFRESH_CALENDAR" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_widget_info" />
        </receiver>

        <service
            android:name=".GmailWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <service
            android:name=".CalendarSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <service
            android:name=".GmailSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <service
            android:name=".TasksSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Gmail 앱 열기 -->
        <package android:name="com.google.android.gm"/>
    </queries>
</manifest>
